body {
  background: #000;
}

#container {
  margin: 30px auto;
}

/* Fight Window */
#window {
  position: relative;
  margin: auto;
}

#enemy {
  position: absolute;
  right: 17px;
  top: 29px;
}

#hero {
  position: absolute;
  top: 72px;
  left: 18px;
}

/* Text area */
#textbox {
  width: 600px;
  height: 150px;
  margin: 20px auto;
  padding: 20px;
  opacity: 0.7;
  background: green;
  border: 2px solid darkgreen;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-family: monospace;
  line-height: 22px;
}

/* Input area */
#keyboard {
  color: #fff;
  font-size: 26px;
  letter-spacing: 5px;
  text-align: center;
}

.blinker {
  -webkit-animation: 1.5s blink step-end infinite;
  -moz-animation: 1.5s blink step-end infinite;
  -ms-animation: 1.5s blink step-end infinite;
  -o-animation: 1.5s blink step-end infinite;
  animation: 1.5s blink step-end infinite;
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
