.background {
  background: url('../images/backgrounds.png') no-repeat -1px -1px;
  width: 256px;
  height: 144px;
}

.bulbasaur {
	background: url('../images/starters.png') no-repeat -2px -2px;
	width: 96px;
	height: 96px;
}

.ivysaur {
	background: url('../images/starters.png') no-repeat -102px -2px;
	width: 96px;
	height: 96px;
}

.venusaur {
	background: url('../images/starters.png') no-repeat -202px -2px;
	width: 96px;
	height: 96px;
}

.charmander {
	background: url('../images/starters.png') no-repeat -302px -2px;
	width: 96px;
	height: 96px;
}

.charmeleon {
	background: url('../images/starters.png') no-repeat -402px -2px;
	width: 96px;
	height: 96px;
}

.charizard {
	background: url('../images/starters.png') no-repeat -502px -2px;
	width: 96px;
	height: 96px;
}

.squirtle {
	background: url('../images/starters.png') no-repeat -602px -2px;
	width: 96px;
	height: 96px;
}

.wartortle {
	background: url('../images/starters.png') no-repeat -702px -2px;
	width: 96px;
	height: 96px;
}

.blastoise {
	background: url('../images/starters.png') no-repeat -802px -2px;
	width: 96px;
	height: 96px;
}

.chikorita {
	background: url('../images/starters.png') no-repeat -902px -2px;
	width: 96px;
	height: 96px;
}

.bayleaf {
	background: url('../images/starters.png') no-repeat -1002px -2px;
	width: 96px;
	height: 96px;
}

.meganium {
	background: url('../images/starters.png') no-repeat -1102px -2px;
	width: 96px;
	height: 96px;
}

.cyndaquil {
	background: url('../images/starters.png') no-repeat -1202px -2px;
	width: 96px;
	height: 96px;
}

.quilava {
	background: url('../images/starters.png') no-repeat -1302px -2px;
	width: 96px;
	height: 96px;
}

.typhlosion {
	background: url('../images/starters.png') no-repeat -1402px -2px;
	width: 96px;
	height: 96px;
}

.totodile {
	background: url('../images/starters.png') no-repeat -2px -102px;
	width: 96px;
	height: 96px;
}

.croconaw {
	background: url('../images/starters.png') no-repeat -102px -102px;
	width: 96px;
	height: 96px;
}

.feraligatr {
	background: url('../images/starters.png') no-repeat -202px -102px;
	width: 96px;
	height: 96px;
}

.treecko {
	background: url('../images/starters.png') no-repeat -302px -102px;
	width: 96px;
	height: 96px;
}

.grovyle {
	background: url('../images/starters.png') no-repeat -402px -102px;
	width: 96px;
	height: 96px;
}

.sceptile {
	background: url('../images/starters.png') no-repeat -502px -102px;
	width: 96px;
	height: 96px;
}

.torchic {
	background: url('../images/starters.png') no-repeat -602px -102px;
	width: 96px;
	height: 96px;
}

.combusken {
	background: url('../images/starters.png') no-repeat -702px -102px;
	width: 96px;
	height: 96px;
}

.blaziken {
	background: url('../images/starters.png') no-repeat -802px -102px;
	width: 96px;
	height: 96px;
}

.mudkip {
	background: url('../images/starters.png') no-repeat -902px -102px;
	width: 96px;
	height: 96px;
}

.marshtomp {
	background: url('../images/starters.png') no-repeat -1002px -102px;
	width: 96px;
	height: 96px;
}

.swampert {
	background: url('../images/starters.png') no-repeat -1102px -102px;
	width: 96px;
	height: 96px;
}

.turtwig {
	background: url('../images/starters.png') no-repeat -1202px -102px;
	width: 96px;
	height: 96px;
}

.grotle {
	background: url('../images/starters.png') no-repeat -1302px -102px;
	width: 96px;
	height: 96px;
}

.torterra {
	background: url('../images/starters.png') no-repeat -1402px -102px;
	width: 96px;
	height: 96px;
}

.chimchar {
	background: url('../images/starters.png') no-repeat -2px -202px;
	width: 96px;
	height: 96px;
}

.monferno {
	background: url('../images/starters.png') no-repeat -102px -202px;
	width: 96px;
	height: 96px;
}

.infernape {
	background: url('../images/starters.png') no-repeat -202px -202px;
	width: 96px;
	height: 96px;
}

.piplup {
	background: url('../images/starters.png') no-repeat -302px -202px;
	width: 96px;
	height: 96px;
}

.prinplup {
	background: url('../images/starters.png') no-repeat -402px -202px;
	width: 96px;
	height: 96px;
}

.empoleon {
	background: url('../images/starters.png') no-repeat -502px -202px;
	width: 96px;
	height: 96px;
}

.snivy {
	background: url('../images/starters.png') no-repeat -602px -202px;
	width: 96px;
	height: 96px;
}

.servine {
	background: url('../images/starters.png') no-repeat -702px -202px;
	width: 96px;
	height: 96px;
}

.serperior {
	background: url('../images/starters.png') no-repeat -802px -202px;
	width: 96px;
	height: 96px;
}

.tepig {
	background: url('../images/starters.png') no-repeat -902px -202px;
	width: 96px;
	height: 96px;
}

.pignite {
	background: url('../images/starters.png') no-repeat -1002px -202px;
	width: 96px;
	height: 96px;
}

.emboar {
	background: url('../images/starters.png') no-repeat -1102px -202px;
	width: 96px;
	height: 96px;
}

.oshawott {
	background: url('../images/starters.png') no-repeat -1202px -202px;
	width: 96px;
	height: 96px;
}

.dewott {
	background: url('../images/starters.png') no-repeat -1302px -202px;
	width: 96px;
	height: 96px;
}

.samurott {
	background: url('../images/starters.png') no-repeat -1402px -202px;
	width: 96px;
	height: 96px;
}

.chespin {
	background: url('../images/starters.png') no-repeat -2px -302px;
	width: 96px;
	height: 96px;
}

.quilladin {
	background: url('../images/starters.png') no-repeat -102px -302px;
	width: 96px;
	height: 96px;
}

.chesnaught {
	background: url('../images/starters.png') no-repeat -202px -302px;
	width: 96px;
	height: 96px;
}

.fennekin {
	background: url('../images/starters.png') no-repeat -302px -302px;
	width: 96px;
	height: 96px;
}

.braixen {
	background: url('../images/starters.png') no-repeat -402px -302px;
	width: 96px;
	height: 96px;
}

.delphox {
	background: url('../images/starters.png') no-repeat -502px -302px;
	width: 96px;
	height: 96px;
}

.froakie {
	background: url('../images/starters.png') no-repeat -602px -302px;
	width: 96px;
	height: 96px;
}

.frogadier {
	background: url('../images/starters.png') no-repeat -702px -302px;
	width: 96px;
	height: 96px;
}

.greninja {
	background: url('../images/starters.png') no-repeat -802px -302px;
	width: 96px;
	height: 96px;
}

.rowlett {
	background: url('../images/starters.png') no-repeat -902px -302px;
	width: 96px;
	height: 96px;
}

.dartrix {
	background: url('../images/starters.png') no-repeat -1002px -302px;
	width: 96px;
	height: 96px;
}

.decidueye {
	background: url('../images/starters.png') no-repeat -1102px -302px;
	width: 96px;
	height: 96px;
}

.litten {
	background: url('../images/starters.png') no-repeat -1202px -302px;
	width: 96px;
	height: 96px;
}

.torracat {
	background: url('../images/starters.png') no-repeat -1302px -302px;
	width: 96px;
	height: 96px;
}

.incineroar {
	background: url('../images/starters.png') no-repeat -1402px -302px;
	width: 96px;
	height: 96px;
}

.popplio {
	background: url('../images/starters.png') no-repeat -2px -402px;
	width: 96px;
	height: 96px;
}

.brionne {
	background: url('../images/starters.png') no-repeat -102px -402px;
	width: 96px;
	height: 96px;
}

.primarina {
	background: url('../images/starters.png') no-repeat -202px -402px;
	width: 96px;
	height: 96px;
}

.bulbasaur-back {
	background: url('../images/starters.png') no-repeat -2px -502px;
	width: 96px;
	height: 96px;
}

.ivysaur-back {
	background: url('../images/starters.png') no-repeat -102px -502px;
	width: 96px;
	height: 96px;
}

.venusaur-back {
	background: url('../images/starters.png') no-repeat -202px -502px;
	width: 96px;
	height: 96px;
}

.charmander-back {
	background: url('../images/starters.png') no-repeat -302px -502px;
	width: 96px;
	height: 96px;
}

.charmeleon-back {
	background: url('../images/starters.png') no-repeat -402px -502px;
	width: 96px;
	height: 96px;
}

.charizard-back {
	background: url('../images/starters.png') no-repeat -502px -502px;
	width: 96px;
	height: 96px;
}

.squirtle-back {
	background: url('../images/starters.png') no-repeat -602px -502px;
	width: 96px;
	height: 96px;
}

.wartortle-back {
	background: url('../images/starters.png') no-repeat -702px -502px;
	width: 96px;
	height: 96px;
}

.blastoise-back {
	background: url('../images/starters.png') no-repeat -802px -502px;
	width: 96px;
	height: 96px;
}

.chikorita-back {
	background: url('../images/starters.png') no-repeat -902px -502px;
	width: 96px;
	height: 96px;
}

.bayleaf-back {
	background: url('../images/starters.png') no-repeat -1002px -502px;
	width: 96px;
	height: 96px;
}

.meganium-back {
	background: url('../images/starters.png') no-repeat -1102px -502px;
	width: 96px;
	height: 96px;
}

.cyndaquil-back {
	background: url('../images/starters.png') no-repeat -1202px -502px;
	width: 96px;
	height: 96px;
}

.quilava-back {
	background: url('../images/starters.png') no-repeat -1302px -502px;
	width: 96px;
	height: 96px;
}

.typhlosion-back {
	background: url('../images/starters.png') no-repeat -1402px -502px;
	width: 96px;
	height: 96px;
}

.totodile-back {
	background: url('../images/starters.png') no-repeat -2px -602px;
	width: 96px;
	height: 96px;
}

.croconaw-back {
	background: url('../images/starters.png') no-repeat -102px -602px;
	width: 96px;
	height: 96px;
}

.feraligatr-back {
	background: url('../images/starters.png') no-repeat -202px -602px;
	width: 96px;
	height: 96px;
}

.treecko-back {
	background: url('../images/starters.png') no-repeat -302px -602px;
	width: 96px;
	height: 96px;
}

.grovyle-back {
	background: url('../images/starters.png') no-repeat -402px -602px;
	width: 96px;
	height: 96px;
}

.sceptile-back {
	background: url('../images/starters.png') no-repeat -502px -602px;
	width: 96px;
	height: 96px;
}

.torchic-back {
	background: url('../images/starters.png') no-repeat -602px -602px;
	width: 96px;
	height: 96px;
}

.combusken-back {
	background: url('../images/starters.png') no-repeat -702px -602px;
	width: 96px;
	height: 96px;
}

.blaziken-back {
	background: url('../images/starters.png') no-repeat -802px -602px;
	width: 96px;
	height: 96px;
}

.mudkip-back {
	background: url('../images/starters.png') no-repeat -902px -602px;
	width: 96px;
	height: 96px;
}

.marshtomp-back {
	background: url('../images/starters.png') no-repeat -1002px -602px;
	width: 96px;
	height: 96px;
}

.swampert-back {
	background: url('../images/starters.png') no-repeat -1102px -602px;
	width: 96px;
	height: 96px;
}

.turtwig-back {
	background: url('../images/starters.png') no-repeat -1202px -602px;
	width: 96px;
	height: 96px;
}

.grotle-back {
	background: url('../images/starters.png') no-repeat -1302px -602px;
	width: 96px;
	height: 96px;
}

.torterra-back {
	background: url('../images/starters.png') no-repeat -1402px -602px;
	width: 96px;
	height: 96px;
}

.chimchar-back {
	background: url('../images/starters.png') no-repeat -2px -702px;
	width: 96px;
	height: 96px;
}

.monferno-back {
	background: url('../images/starters.png') no-repeat -102px -702px;
	width: 96px;
	height: 96px;
}

.infernape-back {
	background: url('../images/starters.png') no-repeat -202px -702px;
	width: 96px;
	height: 96px;
}

.piplup-back {
	background: url('../images/starters.png') no-repeat -302px -702px;
	width: 96px;
	height: 96px;
}

.prinplup-back {
	background: url('../images/starters.png') no-repeat -402px -702px;
	width: 96px;
	height: 96px;
}

.empoleon-back {
	background: url('../images/starters.png') no-repeat -502px -702px;
	width: 96px;
	height: 96px;
}

.snivy-back {
	background: url('../images/starters.png') no-repeat -602px -702px;
	width: 96px;
	height: 96px;
}

.servine-back {
	background: url('../images/starters.png') no-repeat -702px -702px;
	width: 96px;
	height: 96px;
}

.serperior-back {
	background: url('../images/starters.png') no-repeat -802px -702px;
	width: 96px;
	height: 96px;
}

.tepig-back {
	background: url('../images/starters.png') no-repeat -902px -702px;
	width: 96px;
	height: 96px;
}

.pignite-back {
	background: url('../images/starters.png') no-repeat -1002px -702px;
	width: 96px;
	height: 96px;
}

.emboar-back {
	background: url('../images/starters.png') no-repeat -1102px -702px;
	width: 96px;
	height: 96px;
}

.oshawott-back {
	background: url('../images/starters.png') no-repeat -1202px -702px;
	width: 96px;
	height: 96px;
}

.dewott-back {
	background: url('../images/starters.png') no-repeat -1302px -702px;
	width: 96px;
	height: 96px;
}

.samurott-back {
	background: url('../images/starters.png') no-repeat -1402px -702px;
	width: 96px;
	height: 96px;
}

.chespin-back {
	background: url('../images/starters.png') no-repeat -2px -802px;
	width: 96px;
	height: 96px;
}

.quilladin-back {
	background: url('../images/starters.png') no-repeat -102px -802px;
	width: 96px;
	height: 96px;
}

.chesnaught-back {
	background: url('../images/starters.png') no-repeat -202px -802px;
	width: 96px;
	height: 96px;
}

.fennekin-back {
	background: url('../images/starters.png') no-repeat -302px -802px;
	width: 96px;
	height: 96px;
}

.braixen-back {
	background: url('../images/starters.png') no-repeat -402px -802px;
	width: 96px;
	height: 96px;
}

.delphox-back {
	background: url('../images/starters.png') no-repeat -502px -802px;
	width: 96px;
	height: 96px;
}

.froakie-back {
	background: url('../images/starters.png') no-repeat -602px -802px;
	width: 96px;
	height: 96px;
}

.frogadier-back {
	background: url('../images/starters.png') no-repeat -702px -802px;
	width: 96px;
	height: 96px;
}

.greninja-back {
	background: url('../images/starters.png') no-repeat -802px -802px;
	width: 96px;
	height: 96px;
}

.rowlett-back {
	background: url('../images/starters.png') no-repeat -902px -802px;
	width: 96px;
	height: 96px;
}

.dartrix-back {
	background: url('../images/starters.png') no-repeat -1002px -802px;
	width: 96px;
	height: 96px;
}

.decidueye-back {
	background: url('../images/starters.png') no-repeat -1102px -802px;
	width: 96px;
	height: 96px;
}

.litten-back {
	background: url('../images/starters.png') no-repeat -1202px -802px;
	width: 96px;
	height: 96px;
}

.torracat-back {
	background: url('../images/starters.png') no-repeat -1302px -802px;
	width: 96px;
	height: 96px;
}

.incineroar-back {
	background: url('../images/starters.png') no-repeat -1402px -802px;
	width: 96px;
	height: 96px;
}

.popplio-back {
	background: url('../images/starters.png') no-repeat -2px -902px;
	width: 96px;
	height: 96px;
}

.brionne-back {
	background: url('../images/starters.png') no-repeat -102px -902px;
	width: 96px;
	height: 96px;
}

.primarina-back {
	background: url('../images/starters.png') no-repeat -202px -902px;
	width: 96px;
	height: 96px;
}