body {
  background: #000;
}

#container {
  margin: 30px auto;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Fight Window */
#window {
  position: relative;
  margin: auto;
}

#enemy {
  position: absolute;
  right: 17px;
  bottom: 40px;
}

#hero {
  position: absolute;
  bottom: -6px;
  left: 22px;
}

/* Health Bars */
#healthbars {
  width: 600px;
  margin: auto;
}

.hero, .enemy {
  width: 245px;
  display: inline-block;
  margin: 0 20px;
}

#heroName, #enemyName {
  font-family: monospace;
  font-size: 14px;
  color: #fff;
}

#enemyName {
  text-align: right;
}

.hp {
  height: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  background: green;
  position: relative;
}

.hpBorder {
  position: absolute;
  height: 15px;
  top: -1px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
}

#heroHP, #enemyHP {
  position: absolute;
  right: 0;
  background: #000;
  width: 50%;
  height: 15px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#messageBox {
  display: flex;
  width: 750px;
  margin: auto;
  justify-content: space-between;
}

#heroMessage, #enemyMessage {
  width: 40%;
  padding: 10px 20px;
  border-radius: 5px;
  background: #ace884;
  border: 2px solid #69a342;
  font-size: 12px;
  font-family: monospace;
}

#enemyMessage {
  text-align: right;
}


/* Text area */
#textbox {
  width: 600px;
  height: 150px;
  margin: 20px auto;
  padding: 20px;
  opacity: 0.8;
  overflow: auto;
  background: #eceb85;
  border: 2px solid #a59543;
  border-radius: 20px;
  color: #000;
  font-size: 14px;
  font-family: monospace;
  line-height: 22px;
}

/* Input area */
#keyboard {
  color: #fff;
  font-size: 26px;
  letter-spacing: 5px;
  text-align: center;
}

.blinker {
  -webkit-animation: 1.5s blink step-end infinite;
  -moz-animation: 1.5s blink step-end infinite;
  -ms-animation: 1.5s blink step-end infinite;
  -o-animation: 1.5s blink step-end infinite;
  animation: 1.5s blink step-end infinite;
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
