.background-0 {
  background: url('../../images/backgrounds.png') no-repeat -1px -1px;
  width: 256px;
  height: 144px;
}

.background-1 {
	background: url('../../images/backgrounds.png') no-repeat -259px -1px;
	width: 256px;
	height: 144px;
}

.background-2 {
	background: url('../../images/backgrounds.png') no-repeat -517px -1px;
	width: 256px;
	height: 144px;
}

.background-3 {
	background: url('../../images/backgrounds.png') no-repeat -775px -1px;
	width: 256px;
	height: 144px;
}

.background-4 {
	background: url('../../images/backgrounds.png') no-repeat -1px -147px;
	width: 256px;
	height: 144px;
}

.background-5 {
	background: url('../../images/backgrounds.png') no-repeat -259px -147px;
	width: 256px;
	height: 144px;
}

.background-6 {
	background: url('../../images/backgrounds.png') no-repeat -517px -147px;
	width: 256px;
	height: 144px;
}

.background-7 {
	background: url('../../images/backgrounds.png') no-repeat -775px -147px;
	width: 256px;
	height: 144px;
}

.background-8 {
	background: url('../../images/backgrounds.png') no-repeat -1px -293px;
	width: 256px;
	height: 144px;
}

.background-9 {
	background: url('../../images/backgrounds.png') no-repeat -259px -293px;
	width: 256px;
	height: 144px;
}

.background-10 {
	background: url('../../images/backgrounds.png') no-repeat -517px -293px;
	width: 256px;
	height: 144px;
}

.background-11 {
	background: url('../../images/backgrounds.png') no-repeat -775px -293px;
	width: 256px;
	height: 144px;
}

.background-12 {
	background: url('../../images/backgrounds.png') no-repeat -1px -439px;
	width: 256px;
	height: 144px;
}

.background-13 {
	background: url('../../images/backgrounds.png') no-repeat -259px -439px;
	width: 256px;
	height: 144px;
}

.background-14 {
	background: url('../../images/backgrounds.png') no-repeat -517px -439px;
	width: 256px;
	height: 144px;
}

.background-15 {
	background: url('../../images/backgrounds.png') no-repeat -775px -439px;
	width: 256px;
	height: 144px;
}

.background-16 {
	background: url('../../images/backgrounds.png') no-repeat -1px -585px;
	width: 256px;
	height: 144px;
}

.background-17 {
	background: url('../../images/backgrounds.png') no-repeat -259px -585px;
	width: 256px;
	height: 144px;
}

.background-18 {
	background: url('../../images/backgrounds.png') no-repeat -517px -585px;
	width: 256px;
	height: 144px;
}

.background-19 {
	background: url('../../images/backgrounds.png') no-repeat -775px -585px;
	width: 256px;
	height: 144px;
}

.background-20 {
	background: url('../../images/backgrounds.png') no-repeat -1px -731px;
	width: 256px;
	height: 144px;
}

.background-21 {
	background: url('../../images/backgrounds.png') no-repeat -259px -731px;
	width: 256px;
	height: 144px;
}